@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --white: #ddd;
  --dark: #111;
  --darkGrey: #474b4f;
  --lightGrey: #6b6e70;
  --lightGreen: #86c232;
  --darkGreen: #61892f;
}

html,
body {
  overflow-x: hidden;
  width: 100%;
}

html {
  scroll-behavior: smooth;
}

/* landing section */

.showcase {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  padding: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #111;
  color: #fff;
  z-index: 2;
  transition: 0.5s;
}

.showcase.active {
  right: 200px;
}

.showcase header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 60px;
  z-index: 10000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 45px;
  text-transform: uppercase;
  cursor: pointer;
}

.toggle {
  position: relative;
  width: 60px;
  height: 60px;
  background: url(./icons/menu.png);
  background-repeat: no-repeat;
  background-size: 45px;
  background-position: center;
  cursor: pointer;
}

.toggle.active {
  background: url(./icons/close.png);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
}

.showcase video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.8;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
}

.text {
  position: relative;
  z-index: 10;
}

.text h2 {
  font-size: 5em;
  font-weight: 800;
  line-height: 1em;
}

.text p {
  font-size: 1.3em;
  margin: 20px 0;
  font-weight: 400;
  max-width: 800px;
}

.text a {
  display: inline-block;
  font-size: 1em;
  background: #fff;
  padding: 10px 30px;
  text-decoration: none;
  color: #111;
  margin-top: 10px;
}

.socials {
  position: absolute;
  bottom: 20px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials li {
  list-style: none;
}

.socials li a {
  display: inline-block;
  filter: invert(1);
  margin-right: 20px;
  transition: 0.5s;
}

.socials li a img {
  width: 35px;
  height: 35px;
}

.socials li a:hover {
  transform: translateY(-15px);
}

.menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 200px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu ul {
  position: relative;
  list-style: none;
}

.menu ul li a {
  text-decoration: none;
  font-size: 24px;
  color: #111;
}

.menu ul li a:hover {
  color: #03a9f4;
}

/* end landing section styling */

/* section-1 styling */

.section-1 {
  width: 100%;
  margin-top: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-1-wrapper {
  display: flex;
  width: 100%;
}

.photo {
  width: 35vw;
  height: 75vh;
  border-radius: 20px;
}

.photo img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}

.section-1-text {
  padding: 1.5em;
  width: 65vw;
}

.title-1 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-1 h1 {
  font-size: 5vw;
  color: #000;
  text-shadow: 0 0.5em 0.7em rgba(0, 0, 0, 0.5);
  margin: 0.3em auto;
  width: 100%;
  text-align: center;
}

.text-1 p {
  font-size: 2vw;
}

/* end section-1 styling */

/* section-2 */

.section-2 {
  width: 100%;
}

.container-2 {
  width: 95%;
  margin: 0 auto;
}

.title-2 {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
}

.title-2 a {
  font-size: clamp(1.5rem, 6vw + 0.7rem, 8rem);
  color: #000;
  text-shadow: 0 0.7rem 1rem rgba(0, 0, 0, 0.7);
  cursor: pointer;
  font-weight: 400;
  text-decoration: none;
}

.title-2 a:hover {
  color: rgb(3, 169, 244);
  text-shadow: 0 0.7rem 1rem rgba(3, 169, 244, 0.7);
  transform: scale(1.05);
  transition: all 0.2s ease;
}

.video-container {
  width: 100%;
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fit, 450px);
  justify-content: center;
}

.video-container .video {
  width: 450px;
  height: 250px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 0.5rem 0.7rem rgba(0, 0, 0, 0.7);
  cursor: pointer;
  overflow: hidden;
  display: none;
}

.video:nth-child(1),
.video:nth-child(2),
.video:nth-child(3),
.video:nth-child(4),
.video:nth-child(5),
.video:nth-child(6),
.video:nth-child(7),
.video:nth-child(8),
.video:nth-child(9) {
  display: block;
}

.container-2 .video-container .video iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: 0.2s linear;
}

.btn-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.btn {
  border: none;
  border-radius: 5px;
  background-color: #03a9f4;
  color: #fff;
  width: 20rem;
  height: 5rem;
  font-size: 2.4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.btn:hover {
  box-shadow: 0 0.7rem 0.9rem rgba(3, 169, 244, 0.7);
}

.container-2 .popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
  display: none;
}

.container-2 .popup-video iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  border: none;
  border-radius: 10px;
  object-fit: cover;
}

.container-2 .popup-video span {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 80px;
  color: #fff;
  font-weight: 200;
  z-index: 100;
  cursor: pointer;
}

/* end section-2 */

/* footer styling */

footer {
  width: 100%;
  background-color: #03a9f4;
  padding: 50px;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer h1 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  color: #fff;
}

footer .footer-wrapper .col1 .social ul li a img {
  width: 35px;
  height: 35px;
  filter: invert(1);
}

footer .footer-wrapper .col1 .social ul li a span {
  color: #fff;
  font-size: 20px;
}

footer .footer-wrapper .col1 .social ul li {
  list-style: none;
}

footer .footer-wrapper .col1 .social ul li a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20px;
}

footer .footer-wrapper .col2 div {
  display: flex;
  flex-direction: column;
}

footer .footer-wrapper .col2 div a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  margin-bottom: 10px;
}

footer .footer-wrapper .col3 h4 {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-bottom: 10px;
}

footer .footer-wrapper .col3 a {
  font-size: 20px;
  text-decoration: none;
  color: #fff;
}

/* end footer styling */

/* media queries */

@media only screen and (max-width: 798px) {
  .showcase,
  .showcase header {
    padding: 10px;
  }

  .text h2 {
    font-size: 3em;
  }

  .text h3 {
    font-size: 2.5em;
  }

  /* popup video */

  .container-2 .popup-video video {
    width: 95%;
  }
}

@media only screen and (max-width: 750px) {
  .container {
    width: 100%;
  }

  .section-1-wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .photo {
    width: 90vw;
    height: 65vh;
  }

  .section-1-text {
    padding: 0;
    width: 80vw;
  }

  .title-1 h1 {
    margin: 0 0.3em 0.3em 0.3em;
  }

  .text-1 p {
    font-size: 4vw;
  }
}

@media only screen and (max-width: 600px) {
  /* footer */

  .footer-wrapper {
    flex-direction: column;
  }
}

@media only screen and (max-width: 500px) {
  /* header */

  .showcase header .logo {
    font-size: 25px;
  }

  .showcase header .toggle {
    background-size: 30px;
  }

  .showcase header .toggle.active {
    background-size: 20px;
  }

  .text h2 {
    font-size: 2.5em;
  }

  .text h3 {
    font-size: 2em;
  }

  /* gallery */

  .container-2 {
    width: 90%;
  }

  .video-container {
    width: 100%;
    grid-template-columns: auto;
  }

  .video-container .video {
    width: 90vw;
    height: 30vh;
  }
}

@media only screen and (max-width: 430px) {
  footer {
    padding: 30px;
  }

  footer .footer-wrapper .col1 .social h1 {
    font-size: 2rem;
  }

  footer .footer-wrapper .col2 h1 {
    font-size: 2rem;
  }

  footer .footer-wrapper .col3 h1 {
    font-size: 2rem;
  }
}
